.usr_post_img img{
    height:38px;
    width:38px;
}

.post_leftsec_hddn
{
    max-height:100%;
    overflow-y: auto;
}
.image_wrapper{
    height:auto;
    width:auto;
}
#imagePreview {
    width: 400px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    float: left;
    margin: 9px;
}

#imagePreview_msg {
    display: block;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    box-shadow: none !important;
    background-position: center !important;
    width: 100% !important;
    height: 100% !important;
}
.logo_wrapper{
    height:180px;
    width:425px;
}
#logoPreview {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}
.user_details{
    padding:3px;
    display:inline-block;
    float:left;
}

.grp_pln_img_sec a{
    height:100%;
    width:100%;
}

.grp_pln_img_sec a img{
    height:100%;
    width:100%;
}

.league_logo{
    max-height: 120px;
    max-width:100%;
}

.post_images{
    padding:10px;
}

.user_chat_thumb
{
    height:25px;
    width:25px;
}

.post_masonry_section{
    display: block;
    width: 100%;
    margin: 5% auto;
}

.post_masonry_article {
    display: block;
    margin: 0 0 2%;
    /*   float: left;
       clear: left;*/
}
.post_masonry_article.right {
    float: right !important;
    clear: right !important;
}

.event_post.right {
    float: right !important;
    clear: right !important;
}

.league_sec
{
    width:610px;
    height:275px;
}

.league_sec a{height:100%;width:100%;}

.league_sec a img{height:100%;width:100%;}

.media_name {display:inline-block;}
.post_btn {display: inline-block; float:right;}
.make_disabled {cursor:not-allowed;}

.cmn_img {width:100%;}
.cmn_img img{display:inline-block !important; float:left;}
.cmn_img .cmnt_txt1 {display:inline-block; float:left; padding-left: 5px;}
.cmn_dtl {padding-top: 5px; width: 100%;}
.cmmnt_para {word-wrap:break-word;}

.rank_rate{ display: block;}
#rank_modal .modal-body{ max-height:500px; overflow-x: scroll;}
.share-icon-list{  list-style-type: none;}
.img-coin { height:22px;  /* max-width: 31px;*/}


.fileUpload.up_img.btn.upload_file_img{padding-left: 0px !important;}
.media_name.select_file_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
    vertical-align: middle;
}
.chlng2_cnt > p {
    height: 64px;
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 17px;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-12.grp_cl6:nth-child(3n+1) {
    clear: both;
}
.challenge_sec  .chlng_pflsec img {
    border-radius: 50%;
    height: 55px;
    width: 55px;
}
.challenge_sec .chlng_para {
    height: 95px;
    overflow: hidden;
}
.list-inline.submenu_ul > li:hover,
.list-inline.submenu_ul > li.active{
    background-color: #583476;
}

.loadmore{
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background-color: #76469e;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.loadmore:hover {
    background-color: #fff;
    color: #76469e;
}

.mov_sec {width:100%;}

.chellange_options li{ padding-left:10px !important;}

.topi_image {max-height:92px}

.topi_image_li:nth-child(4n+1) {
    clear: both;
}

.topichat_media_rank{display:inline-block;}

.media_wrapper .topichat_media_rank button {display:block;}
.media_wrapper .topichat_media_rank button img{background-color: white !important;}
.media_wrapper .topichat_media_rank span {background-color: white; color:black;}

.top_rank_profile {border-radius: 50%; height:60px;width:45px;}

.reward_img {
    width: 26px;
    margin-right: 5px;
}

.no-media
{
    background-color: #f6f7f8 !important;
}
.edit_topichat_rdo > label{
    display: inline-block;
    vertical-align: middle;
}
.video-w-icon{
    position: relative;
    display: block;
}

.video-w-icon:after{
    background: rgba(0, 0, 0, 0.3) url("../img/play-button-w.png") no-repeat scroll center center / 24px auto;
    content: "";
    height: 100%;
    left: 0;

    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.txt_white{ color:white;font-size:20px;}

.event_user{
    display:inline-block;
}

.event_profile_sec .usr_post_img {display:inline-block;}
.event_profile_sec .post_title {display:inline-block;font-size:17px;}
.event_post_details,.event_seat > span {
    font-size: 15px;
    padding-top: 10px;
}
.event_post_details{
    max-height: 400px;
    overflow: auto;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.event-page .event-detail-content{
    word-break: break-all;
}
/*
.chat_1
{
    clear: left;
    float: left;
}
.chat_1 img {
    background-color: #76469e;
    border-radius: 100%;
    float: left;
    margin-right: 8px;
    width: 6%;
}
.chat_1 span.wdth_span {
    display: block;
    float: left;
    width: 50%;
}
.chat_1 .media_wrapper {
    height: 180px;
    position: relative;
    width: 56%;
}

.chat_1 .topichat_media_rank {
    right: 0;
    margin-top: -26px;
    position: absolute;
    top: 50%;
    display: inline-block;
}
 
.chat_1 img.rank_img_sec {
    margin-right: 0;
    width: auto;
}
.chat_1 img {
    background-color: #76469e;
    border-radius: 100%;
    float: left;
    margin-right: 8px;
    width: 6%;
}

.chat_1 span.wdth_span span {
  background-color: #76469e;
  border-radius: 20px;
  display: inline-block;
  float: left;
  max-width: 90%;
  padding: 8px 10px;
  word-wrap: break-word;
}

.chat_1 span.wdth_span span {
    background-color: #d2d2d2 !important;
    border-radius: 20px;
    display: inline-block;
    float: left;
    max-width: 90%;
    padding: 8px 10px;
    word-wrap: break-word;
}*/
.chat_1 img.rank_img_sec{
    width: auto;
    margin-right: 0;
}
.chat_1 .topichat_media_rank{
    position: absolute;
    right: -30px;
    top: 50%;
    margin-top: -26px;
}
.chat_1 .media_wrapper {
    position: relative;
}

.chat_1 .media_wrapper {
    position: relative;
    height: 180px;
}

.chat_1 .img_media_wrapper{
    width:320px;
    margin-left: 30px;
}

.chat_2 {
    width:85%;
}

.chat_2 .media_wrapper{
    width: 320px;
    float: right;
}


.profile_dropdown{ left:22px;}

.request_row { padding-left:15px; padding-bottom: 15px;}
.request_row .usr_post_img {display:inline-block}
.request_row .post_title{display: inline-block; padding-left:10px;}
.request_row .actions {float: right; display: inline-block;padding: 0px 15px;}

.col-lg-3.topichat_media a {
    margin-bottom: 30px;
}


.event_post .grp_pln_sec {padding:15px;}

.event_left_sec .event_msg_sec{
    padding-right: 15px;
}

.event_right_lg_sec .event_msg_sec{
    bottom: 50px;
}

.event_p {
    padding-top:10px;
}

.panel-body.video_wrapper {
    max-height: 380px;
    margin-top: 20px;
    overflow-y:  scroll;
}

.panel-body.image_wrapper {
    max-height: 380px;
    margin-top: 20px;
    overflow-y:  scroll;
}

.panel.panel-default.popular_img_sec.media {
    /*overflow-y: scroll;*/
    height: auto;
}
.topi_image.topi_images {
    max-height: 165px;
}

.chalng_descpn {
    padding: 13px 15px !important;
}

.chlng2_cnt {
    width: 100%!important;
}
.mak_chlng_sec_innr {
    width: 100%;
    max-width: 100%;
    margin: 0px 0px !important;
}
.row.rwrds_chlng2 {
    border-top: 1px solid;
    margin-top: auto;
    border-color: #d8d8d8;
}
/*.fancybox-wrap.fancybox-desktop.fancybox-type-iframe.fancybox-opened{
    left: 180px !important;
}*/
.img-responsive.topi_image.topi_images {
    display: block;
    margin: 15px auto;
    text-align: center;
}
.topichat_media_wrapper {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #dddddd;
    padding: 5px;
    height:200px;
}
.col-lg-3.topichat_media {
    margin: 15px 0 0;
}
.grp_plan_img{height:170px;}
.chat_area2 {
    bottom: 87px;
    /*bottom: 0px;*/
}
.chat_2 span.file_download {
    display: block;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    box-shadow: none !important;
    background-position: center !important;
    width: 50% !important;
    height: 50% !important;
    float: right;
}
.chat_2 span.filename {
    float: right;
}
.chat_1 span.file_download {
    display: block;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    box-shadow: none !important;
    background-position: center !important;
    width: 50% !important;
    height: 50% !important;
    float: left;
}
.chat_1 span.filename {
    float: left;
}
#message_div {
    overflow: hidden;
    width:100%;
    white-space: nowrap;
}
.share_2.clearfix {
    float: right;
    clear: right;
    max-width: 500px;
    /*margin-top: 30PX;*/
    display: block;
    clear: both;
    margin-bottom: 30px;
    position: relative;

}
.share_2 .topichat_media_rank {
    position: absolute;
    top: 25%;
    left: -30px;
}

.share_1 .topichat_media_rank {
    position: absolute;
    margin-top: 2%;
}

.share_1.clearfix {
    float: left;
    /*clear: left;*/
    clear: both;
    max-width: 500px;
    /*margin-top: 30PX;*/
    margin-bottom: 30px;
    display: block;
    width: auto;
    overflow: hidden;
    position: relative;
}
.share_1.youtube_video,
.share_2.youtube_video{position: relative;}
.share_1.youtube_video #field{position: absolute;top:30%;}
.share_2.youtube_video #field{position: absolute;top:35%;}
#mediaModal .share_1.clearfix {
    max-width: 400px !important;
}
#mediaModal .share_1 .fileshare  {
    max-width: 90% !important;
}
#mediaModal .share_2 .fileshare  {
    max-width: 100%  !important;
}
#mediaModal .share_2.clearfix {
    max-width: 400px !important;
}
.col-md-11.topichat_media_popup {
    margin-left: -20px;
}
.col-md-1.rank_button_modal { 
    font-size: 20px;
}
.share_1 img.user_chat_thumb {
    width: 5%;
    border-radius: 100%;
    margin-right: 8px;
    float: left;
    background-color: #d2d2d2;
    display: block;
}
.share_1.youtube_video img.user_chat_thumb{width: 3%;}

.fileshare{
    border: 1px solid #ccc;
    padding: 5px;
    background : whitesmoke;
    border-radius: 5px;
    overflow: hidden;
}
.share_1 .fileshare{
    max-width: 88%;
    display: inline-block;
}
.share_2 .fileshare{
    display: inline-block;
    max-width: 93%;
}
.fileshare p{color:#000;}

img.file_icon {
    height: 70px;
}
.chlng2_past_rank_sec {
    height: 500px;
    overflow: auto;
}

.loader
{
    display : none;
}
.loader.show
{
    display : block;
    position : fixed;
    z-index: 100;
    background-image : url('http://loadinggif.com/images/image-selection/3.gif');
    background-color:#666;
    opacity : 0.8;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadinggif.show
{
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 101;
    width : 32px;
    height : 32px;
    margin-left : -16px;
    margin-top : -16px;
}

.topic_frame .fileshare {
    margin: 5px;
}

.topichat_link_wrapper.links{
    padding: 5px;
    height: auto;
    margin-bottom: 11px;
}

.event_content{
    height:50%;
    max-height: 250px;
    padding:15px;
    border-bottom:1px solid;
    overflow: hidden;
}

.add_contact{
    margin-bottom: 20px;
    margin-top: 5px;
}

.content_description {
    padding-top : 10px;
}

.chalng_tbl_sec {
    max-height: 275px;
    /* margin-top: 20px; */
    overflow-y: auto;
    overflow-x: hidden;
}
.upld_sec.finised {
    height: 58px;
}
.row.finished {
    height: 85px;
}
.panel-body.link_wrapper {
    max-height: 350px;
    margin-top: 20px;
    overflow-y: scroll;
}
.close_info .pstbtn {
    margin-left: 10px;
    margin-top: -6px !important;
}
.event_content .tab-pane.fade {
    height: 200px;
    overflow: auto;
}


.event-page {
    background: #ffffff none repeat scroll 0 0;
    margin: 0 auto;
    max-width: 1140px;
    height: 100%;
}
.event-chat-start .chat_area2,.event-chat-start .topich_chat_typesec {
    width: 650px;
}
.event_media_post img.user_chat_thumb {
    width: 7%;
}
.event_media_post .media_wrapper{width: 90%;}
.col-md-4.event-left-section {
    border-right: 1px solid;
}
.event-right-section .chat_area2 {
    top: 350px;
    bottom:50px !important;
}
.heading-section h2{
    width: 800px;
    margin: 0px auto;
    height: 68px;
    word-break: break-all;
    overflow: hidden;
}
.event_file_name{
    display: block;
    width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.update_notes{
    margin-top: -8px;
}

.event-top-details{
    font-size:14px;
}

.event_members {
    height: 400px !important;
    overflow: auto;
    padding:15px;
}

.event-top-section
{
    border-bottom: 1px solid;
    margin:0px;
}

.revw_ul li span
{
    font-size:13px;
}

.contact_ul{
    margin-top:20px;
    border-bottom: 1px solid #c1c1c1;
}

.contact_ul .row{
    margin:0px;
}

.contact-plus{
    margin-top:-15px;
}

.event-detail-content
{
    font-size:14px;
}

.event-chat-start
{
    //   border-top: 1px solid;
}
.rank_button_modal{clear: both;}
.rank_button_modal #field{
    vertical-align: middle;
    position: fixed;
    top: 35%;
}
.topichat_msg_sec_modal{
    top: 89px;   
    bottom: 104px;
}
.topichat_msg_sec_modal,share.topich_chat_typesec_modal{
    width:40% !important;
}
.topich_chat_typesec_modal{
    bottom: 66px;
    width: 38% !important;
}
.usr_post_img_modal.usr_post_img{   
    width: 60px;
    display: inline-block;
    float: left;
}
.topichat_media_details {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding-top: 13px;
}
.user_post_image_right {
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 13px;
}
.modal-dialog.topichat_media_modal {
    width: 90%;
    margin: 75px auto;
}
.modal-dialog.topichat_media_modal .modal-body{min-height: 570px;}
.col-md-11.topichat_media_popup .post_images video{
    height: 280px !important;
    margin-top: 20px;
}
.topi_msg{display: flex;}
.topi_msg .by_spn{
    max-width:150px;
    min-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.topi_msg .topi_msg_span2{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 30px 10px 10px;
}
.topi_msg .topi_msg_link{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    padding-left: 0px;
}
.topichat_groups .topichat_txt1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 30px 10px 10px;
}
.topichat_groups .topichat_txt2{
    display: -webkit-box;
    max-width: 400px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topchat_p {
    padding-top: 10px;
    padding-right: 10px;
}
.topichat_notes{
    height: 35px;
    overflow: auto;
}

img.img-circle.img-responsive.topichat_user {
    display: inline-block;
    margin-right: 10px;
}

.load_more_event_image
{
    padding-bottom:10px;
}

.load_more_event_image:nth-child(2n+1){
    /*// I changed this*/
    clear:both;
}

.load_more_event_file
{
    padding-bottom:10px;
}

.load_more_event_file:nth-child(3n+1){
    /*// I changed this*/
    clear:both;
}

#load_more_image .modal-body{
    height:100%;
    max-height: 400px;
    overflow: auto;
}

#load_more_video .modal-body{
    height:100%;
    max-height: 400px;
    overflow: auto;
}

.filter_div_row{
    display: flex;
    padding-bottom:15px;
}

#load_more_file .modal-body{
    height:100%;
    max-height: 400px;
    overflow: auto;
}

.cursor_hand{
    cursor:pointer;
}
.alert-msg .alert{
    width:37%;margin: 10px auto; 
}
.signup_sec {
    margin: 20px auto;
}
.social{
    padding: 10px 0px 0px 10px;
}
.social ul{
    float: right;padding-left: 0px;
    width: 100%;
}
.social ul li{    
    display: block;
    float: none;
    padding-right: 10px;
    margin-bottom: 10px;
}
.social ul li a{
    text-decoration: none;
}
.social ul li a img{
    height: 30px;
}
img.user_chat_thumb {
    border-radius: 15px;
}

#filter_load_more {
    background-color: #76469e;
    border-color: #ffffff;
    border-style: solid;
    border-width: 0 1px 1px 0;
    box-shadow: 0 1px 1px #cccccc;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    transition: all 600ms ease-in-out 0s;
    text-decoration: none;
    display: block;
    margin: 10px 0px;
}
.bg-image{
    position: relative;
    height: 150px;
    width: 100%;}
.bg-image img{
    height: 100%;
    width: 100%;
}
.bg-image .heading-section {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.1);
    height: 100%;
    padding: 35px 30px;
    color: #fff;
}
.bg-image .heading-section .edit-btn{
    position: absolute;
    right: 15px;
    top: -15px;
}
.event-detail-content span {
    font-size: 12px;
    color: #555555;
    font-weight: 600;
    padding: 0px;
}
.event-detail-content:first-child {
    border-bottom: 1px solid #555555;
    height: 67px;
    margin-bottom: 10px;
    overflow: auto;
}
.details{    padding: 10px;}
.member_ul {
    max-height: 340px;
    overflow: initial;
}
.share_1.youtube_video,
.share_2.youtube_video {
    max-width: none !important;
}
.videoPreview{position: relative;}
.videoPreview img {
    height: 250px;
    width: 100%;
}
.videoPreview .youtube-icon{
    position: absolute;
    top: 100px;
    margin-left: -20px;
    left: 50%;
    vertical-align: middle;
}
.videoPreview .youtube-icon img{height: 50px;width: 50px;}
#linkModal iframe.embedly-embed {
    width: 100%;
}
#linkModal .topichat_media_popup {
    margin-top: 20px;
}
.dropdown-menu {min-width:185px;}
.fileshare iframe.embedly-embed{width: 100%;}
#linkModal .topichat_media_popup iframe.embedly-embed{width: 100%;}
.grp_prsnl_innr h2,
h2.chlng_hdg ,
.prsnl_sm_sec p{word-break: break-all; }
.morecontent span {
    display: none;
}
.morelink,a.morelink:hover, a.morelink:focus{
    display: inline-block;
    color: #76469e;
    font-weight: bold;
    margin-bottom: 15px;
}
.event_seat a.pstbtn {
    margin-top: -7px;
}
.rank_lg_sec.grid-item {
    float: left;
    padding: 0 15px 30px;
    width: 33.33%;
}
.social a {
    color: #ffffff !important;
    font-size: 16px;
    white-space: normal;
    padding: 10px 20px;
}
.btn-fb {
    background: #3b5998;
}
.btn-block {
    display: block;
    width: 100%;
}
.social_main a i {
    float: left;
    font-size: 24px;
}
.fa {
    vertical-align: middle;
    padding-right: 10px;
}
.btn-g-plus {
    background: #c63d2d;
}
.challenge_post_display .alert-info{
    bottom: -50px;
    position: absolute;
}
.bg_image_close_info{
    position: absolute;
    right: 30px;
    bottom: 5px;
}
.bg_image_close_info{
    color: #fff;
}
.event-right-section .details .event-detail-content label.control-label{
    font-size: 16px;
}
.event-right-section .details .event-detail-content label.control-label span,.event-right-section .details .event-detail-content  span,.event-right-section .details .event-detail-content {
    font-size: 14px;
}
.event-detail-content a.pstbtn{
    float: none;
    margin-left: 15px;
}
.popover-content-custom{
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    left: 0;
    line-height: 1.42857;
    max-width: 276px;
    padding: 1px;
    position: absolute;
    text-align: left;
    top: 0;
    white-space: normal;
    z-index: 1060;
    left: -67px;
    position: absolute;
    top: -65px;
    width: 125px;
    padding: 5px;
}
.popover-content-custom > .arrow, .popover-content-custom > .arrow::after {
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.popover-content-custom > .arrow {
    border-width: 11px;
}
.popover-content-custom > .arrow {
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
}
.popover-content-custom > .arrow, .popover-content-custom > .arrow::after {
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.ftr_ul li > a > i.fa{
    padding: 0px;
}
.popover-content-custom > .arrow::after {
    border-width: 10px;
    content: "";
}
.popover-content-custom > .arrow::after {
    border-bottom-width: 0;
    border-top-color: #ffffff;
    bottom: 1px;
    content: " ";
    margin-left: -10px;
}
.challenge_post_display .winner-comnt{
    background-color: #ffffff;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    margin-left: -38px;
    margin-right: -38px;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}
.challenge_post_display{
    min-height: 425px;
}

.event_profile_sec .post_title{
    word-break: break-all;
    display: inline;
}

#myModal .modal-content{
    max-height: 500px;
    overflow: auto;
}
.solmate_lg_row_custom{top:0;}
.solmate_lg_row_custom,.solmate_lg_row_custom .chat_area_solmat,
.solmate_lg_row_custom .topich_chat_typesec_chalnge2{
    position: relative;
}
.solmate_lg_row_custom .chat_area_chalnge2{
    max-height: 455px;
    min-height: 455px;
    overflow-y: auto;
    top: 0;
    width: 651px;
    overflow-x: hidden;
}
.solmate_lg_row_custom .soulmate_past_due_sec2 {margin-bottom: 0px;}

/*
    Phase - 2 css
*/
.join_topichat_unique .topic_2cntnr .tittl_sec{padding : 10px 0;}
.hdr_sec1 #custom-search-input.search-wrapper{position:relative;display:inline-block; max-width:280px;width:100%;vertical-align:top;padding:8px;}
.hdr_sec1 #custom-search-input.search-wrapper input{width:100%;padding:5px 30px 5px 10px;}
.hdr_sec1 #custom-search-input.search-wrapper button {background:transparent;border:0;left:auto;line-height:32px;margin:-17px 0 0;padding:0;position:absolute;right:0;text-align:center;top:50%;width:42px;color:#76469e;}

.search-page-unique {padding:15px;}
.chat_area_updated {
    background-color: #ffffff;
    bottom: 122px;
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: unset;
    top: 157px;
    width: 100%;
    height: 500px;
}
.map_btn{display:inline-block;}
@media(max-width:1572px){.chat_area_updated{height: 482px;}}
@media(max-width:990px){.chat_area_updated{height: 430px;}}
.text-right.chat_area_updated-top,.total_views_wrapper{
    border-bottom: 1px solid #cccccc;
    padding: 10px 20px;
}
.total_views_wrapper{
    padding: 0px 20px;
}
.chat_area_updated_list_top {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;position:relative; 
    margin: 0 -20px;
    padding: 0 20px 5px;
}
.chat_area_updated_list_top > h4, .total_views_list, .total_views_list ul li {
    display: inline-block;
    vertical-align: middle;
}
.topichat_media_thumb{
    margin-bottom: 5px;
}
.chat_area_updated_list_top > h4 {
    padding-top: 16px;
}
.total_views_list {
    padding-top: 10px;
    text-align: right;
    width: auto;
    float: right;
}
.total_views_list ul li > a,.topichat_media_thumb {
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
}
.total_views_list ul li > a.more_views{
    border: 1px solid transparent;
    border-radius: inherit;
    display: inline-block;
    height: auto;
    line-height: 25px;
    text-align: center;
    width: auto;
}
.chat_area_updated_list_middle {
    display: table;
    width: 100%;
}
.chat_area_updated_list_middle_left, .chat_area_updated_list_middle_right {
    display: table-cell;
    vertical-align: middle;
}
.chat_area_updated_list_middle{
    margin: 0 -20px;
    padding: 0 20px;
}
.chat_area_updated_list_middle {
    display: table;
    width: 100%;
}
.chat_area_updated_list_middle_left {
    /*border-right: 1px solid #dddddd;*/
    text-align: center;
    width: 50px;
}
.chat_area_updated_list_middle_left, .chat_area_updated_list_middle_right {
    display: table-cell;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    vertical-align: top;
}
.chat_area_updated_list_middle_right{
    padding-left: 15px;
}
.chat_area_updated-top .form-control{
    display: inline-block;
    width: 160px;
}
.chat-area-text-box input {
    border: medium none;
    box-shadow: none;
    padding: 10px 20px;
    width: 100%;
}
.chat-area-text-box{
    border: 1px solid #eee;
    border-left: 0;
    border-right: 0;
}
.chat-window-wrapper > .fb-chat-window, .chat-area-text-box > div {
    border-right: 1px solid #dddddd;
    display: inline-block;
    height: 42px;
    padding: 10px 15px;
    vertical-align: top;
}
.chat_area_updated_list_middle_head{
    /*border-bottom: 1px solid #dddddd;*/

    margin-left: -15px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 113%;
}
.chat_area_updated_list_middle_middle {
    padding: 10px 0 0;
}
.chat_area_updated_list_middle_middle .imagePreview.file_download,.chat_area_updated_list_middle_middle .imagePreview,
#imagePreview_msg{
    display: block !important;
    height: 185px !important;
    width: 185px !important;
}
.topic_prfle_icon_sec-bottom-upload-control {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 10px 15px;
    height: 42px;
    width: 140px;
}
.chat-window-wrapper > a {
    color: #000000;
}
.topic_prfle_icon_sec-bottom-upload-control span{
    background: rgba(0, 0, 0, 0) linear-gradient(#925cbe, #613a81) repeat scroll 0 0;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    color: #ffffff;
    float: right;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    margin-top: 0;
    padding: 6px 20px;
    position: absolute;
    text-decoration: none;
    top: 9px;
}
.topic_prfle_icon_sec-bottom-upload-control input{
    opacity: 0;
    position: relative;
    z-index: 11;
}

.chat-window-link{
    cursor: pointer;
}
.clearFix
{
    clear:both;
}
.fb-chat-window {
    position: relative;
    z-index: 999;
    width: 350px;
}
.panel.panel-chat
{
    bottom: 0;
    box-shadow: none;
    left: inherit;
    margin-bottom: 0;
    max-width: 350px;
    position: absolute;
    -webkit-box-shadow: none;
}
.panel.panel-chat *
{
    /*background: none;*/
    border: none;
}
.panel.panel-chat .panel-heading
{
    background: #9370DB;
    border: 1px solid #2e4588;
    color:#FFF;
}
.panel.panel-chat .panel-heading a:nth-of-type(1)
{
    text-decoration: none;
    width: 290px;
    color:#FFF;
    font-weight: bold;
    float:left;
}
.panel.panel-chat .panel-heading a:nth-of-type(2)
{
    text-decoration: none;
    max-width: 11px;
    width: 11px;
    color:#FFF;
    float:right;
}
.panel.panel-chat .panel-body
{
    display: block;
    padding: 0;
    margin: 0;
    max-height: 250px;
    height: 250px;
    border-left: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    background: #EDEFF4;
    overflow: auto;
}
.panel.panel-chat .panel-body::-webkit-scrollbar {
    display: none;
}
.panel.panel-chat .panel-body .messageMe
{
    border-bottom:1px dotted #b2b2b2;
    margin-bottom: 10px;
}
.panel.panel-chat .panel-body .messageMe img
{
    float:left;
    width: 25px;
    height: 25px;
}
.panel.panel-chat .panel-body .messageMe span
{
    display: block;
    float:left;
    padding: 5px;
    background: #FFF;
    min-height: 50px;
    max-width: 280px;

    width: 220px;
    word-break: break-all;
}
.panel.panel-chat .panel-body .messageHer
{
    border-bottom:1px dotted #b2b2b2;
    margin-bottom: 10px;
}
.panel.panel-chat .panel-body .messageHer img
{
    float:right;
    max-width: 50px;
    max-height: 50px;
}
.panel.panel-chat .panel-body .messageHer span
{
    display: block;
    float:right;
    padding: 5px;
    background: #FFF;
    min-height: 50px;
    max-width: 280px;
    height: 50px;
    width: 220px;
    word-break: break-all;
}
.panel.panel-chat .panel-footer
{
    padding: 0;
    margin: 0;
    border: 1px solid #b2b2b2;
    max-height: 36px;
    height: 36px;
    background-color: #fff;
    position: relative;
}
.panel.panel-chat .panel-footer textarea
{
    margin-bottom: -5px;
    resize: none;
    width: 100%;
    height: 100%;

}
.panel-footer .upld_icnpad{
        display: inline-block;
    width: 40px;
}
.panel-footer span.input-group-btn{
        display: inline-block;
    width: 48px;
}
.chatClose{
    position: absolute;
    right: 20px;
}

.upload-modal .modal-body{
    padding:0px;
}
.input-group-btn-span {
    background-color: #ffffff;
    padding-left: 5px;
    position: absolute;
    right: 0;
    top: 4px;
}
.panel.panel-chat .panel-footer #message_div{
    white-space: nowrap;
    width: 238px;
    overflow: hidden;
}

.upload_file_thumb{
    width:180px !important;
}

@media(min-width:1583px){
    .row.event_container
    {
        margin: 0 auto;
        width: 1289px;
    }
}
@media(min-width:1400){
    .topich_chat_typesec_modal{
        width: 450px !important;
    }
}
@media(max-width:1400px){
    .modal-dialog.topichat_media_modal {
        margin: 75px auto;
        width: 75%;
    }
}
@media(max-width:1200px){
    .col-md-7.col-sm-7.col-xs-12{width:100% !important;}
    .col-md-5.col-sm-5.col-xs-12{width: 100% !important;}
    .chat_area2.topichat_msg_sec.topichat_msg_sec_modal{width: 100% !important;position: relative; }
}
@media(max-width:767px){
    .topichat_msg_sec_modal, .topich_chat_typesec_modal {
        position: relative;
        width: 100% !important;
    }
    .rank_lg_sec.grid-item{ width:50% !important;}
    .topichat_notes {height:20px !important}
    a.event_join{float:right;}
    #filterby_form .col-xs-6{z-index:2;}
}
@media(max-width:480px){
    .rank_lg_sec.grid-item{ width:95% !important;}
    .custom_no_of_person{display:inline-block; width: 90%;}
    #imagePreview {width:100%;}
    .topichat_txtarea .radio{margin-left:0px !important;}
}
.topic_2cntnr{
    height: 100%;
}
#postModal .topichat_media_popup iframe{width: 100% !important;}
#postModal .topichat_media_details{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.chat_area_updated_list_top{background: #f6f6f6;}
.chat_area_updated_list_top h4{
color: #76469e;
font-weight: 700;
font-size: 16px;
}

#postModal .topichat_media_popup video {
    width:100% !important;
}

.topichat_media_modal .user_post_image_right {border-bottom: 1px solid #ccc !important;padding-bottom: 0px;margin: 0 0 10px;}
.user_post_image_right .total_views_list{float: left;padding: 0;}
.usr_post_img .total_views_list ul li > a{height: 38px;line-height: 38px;width: 38px;overflow: hidden;}
.usr_post_img .total_views_list ul li > a img{height: 36px;width: 36px;display: block;}
.topichat_msg_sec_modal .nav-tabs > li{float: right;}
.topichat_msg_sec_modal{position: static;width: 100% !important;padding: 0;height: auto;overflow: visible;}
.topichat_msg_sec_modal #page_chat{position: relative;}
.topichat_msg_sec_modal .page_messages, .topichat_msg_sec_modal .post_messages{height: 395px;overflow: auto;padding: 10px;border-left: solid 1px #ddd;border-right: solid 1px #ddd;background: #eee;}
.topichat_msg_sec_modal .topich_chat_typesec_modal {bottom: 0px;width: auto !important;left: 0;right: 0;position: absolute;}
.page_messages a img,.post_messages a img{width: 25px;height: 25px;}
.page_messages .messageMe,.post_messages .messageMe{text-align: left;padding: 7px;background: #fff;margin: 0 0 5px;margin-right: 60px;border-radius: 3px;}
.page_messages .messageHer,.post_messages .messageHer{text-align: right;padding: 7px;background: #fff;margin: 0 0 5px;margin-left: 60px;border-radius: 3px;}

.sav_p .dropdown {top:-7px;}
.delete_topic_post{display:inline-block;top:46px;position:absolute;right:6px;}
.delete_topic_post .btn {display: inline-block;padding: 4px 6px;margin-bottom: 0;font-size: 12px;}
.tittl_sec2 p.topchat_p {padding-top:5px;}
.home_banner:after{background:rgba(0,0,0,0.1);position:absolute;top:0;left:0;width:100%;height:100%;content:'';display:block;z-index:0; }
.home_banner-caption{position:absolute;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%); text-align:center;width:100%;display:block;z-index:10; }
.home_banner{position:relative;}
.home_banner-caption h2{font-size:30px;color:#fff;line-height:34px;display:block;margin:0;padding:10px 0;text-transform:uppercase;} 
.messageMe a.messageMe-img{display:block;}
.messageMe .messageMe-img img{-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;display:block;}
.page_messages .messageMe{padding:7px 7px 7px 40px;position:relative;min-height:36px;  }
.page_messages .messageMe a{position:absolute;top:7px;left:7px; }
img.emoticon{max-height:20px;max-width:20px;}
.chat_area_updated_list_middle .topichat_media_thumb {border:0;}
.right_lg_sectopic .tittl_sec_lg{ margin-bottom: 5px;}
.right_lg_sectopic .tittl_sec_lg .topichat_notes {padding-bottom: 0px;}
@media(max-width:1200px){.solmate_lg_row_custom .chat_area_chalnge2{width: 100%;}}
@media(max-width:1024px){.sav_p {
    right: 0;
}
.post_section{padding-right: 0px;padding-left: 0px;}
.post_masonry_article .cmnt_newsec{padding: 0px;}
.rank_lg_sec.grid-item{width:48%;}
.event_seat > span{display: block;}
     .event_seat a.pstbtn{float: none;line-height: 40px;}
     .event-chat-start .chat_area2, .event-chat-start .topich_chat_typesec {
    width: 100%;
}
.media_name.select_file_name{
        width:170px;
    }
}
@media(max-width:767px){
     .event_seat > span{display: block;}
     .event_seat a.pstbtn{float: none;line-height: 40px;}
     .event-chat-start .chat_area2, .event-chat-start .topich_chat_typesec {
    width: 100% !important;
}
     .topic_textarea .input-group{display: block;}
     .solmate_lg_row_custom .chat_area_chalnge2 {
    max-height: 455px;
    min-height: 455px;
    overflow: auto;
    top: 0;
    width: 100%;
    padding: 15px;
    overflow-x: hidden;
}
    
.chalng_lg_lft_sec .topic_textarea #message_div {
    width: 97%;
}
}