.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 20em !important;
}
.thumbnail h3{    margin: 0;
                  padding: 5px;
                  width: 100%;}

.thumbnail h3 img {
    max-width: 30px;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
}
.thumbnail{
    display: inline-block;
    width: 100%;
}
.c_post_thumbnail{
    display: block !important;
}

.challenge_post:nth-child(3n+1){
    clear:both;
}
.thumb:not(.thumb-rounded) img {
    border-radius: 3px;
    max-width: 330px;
    margin: 0 auto;
}
.fileshare .thumb{
    float: left;
    margin: 0 10px 0 0;
    position: relative;
    width: 100px;
}
iframe.embedly-embed {
    width: 100%;
}

.media-annotation{
    position: absolute;
    right: 15px;
    top: 5px;
}
.media-body {
    width: 100%;
}
.thumb-inner{
    float: left;
    padding: 5px;
    vertical-align: top;
    max-width: 330px;
} 
.thumb-ul li a i {
    font-size: 20px;
}
.thumb-ul li a i {
    font-size: 20px;
}
.thumb-ul li {
    display: inline-block;
}
.thumb-ul li a{
    padding: 0 18px;
    color: #26A69A;
    text-align: center;
}
ul.thumb-ul {
    padding-left: 10px;
}
.padding-15{
    padding: 15px;
}
.media .thumb-ul li a {
    padding: 0;
    text-align: center;
    display: inline-block;
}
.media .thumb-ul li a i, .media .thumb-ul li a {
    font-size: 12px;
}
.media-list > li:nth-child(odd) {
    background-color: #f9f7f7;
}
.media .thumb-ul li a {
    padding: 0 8px 0 0;
    text-align: center;
    display: inline-block;
    color:#2196F3;
}

.league_inner {
    padding-right: 35px;
}
.league_images {
    display: inline-flex;
    width: inherit;
}
div#logPreview {    
    width: 400px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    float: left;
    margin: 9px;
}
/*span.media-annotation.pull-right.reply_time {
    position: relative;
    right: -30px;
    top: 0px;
}*/

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 33.33%; }
/* 2 columns */
.topi-chart-thumbnail{
    display: inline-block;
    width:auto;
    min-height: 751px;
}
.topi-chart-thumbnail h4.text-semibold{
    background-color: #ddd;
    margin-left: -4px;
    padding-left: 15px;
    margin-right: -4px;
    border-bottom: 2px solid #868181;
    padding-bottom: 5px;
}
.group-conversation-wrapper .media-list > li:nth-child(odd){
    background-color: transparent;
}
.group-conversation-wrapper .media-list > li:nth-child(odd) .media-body{

    background-color: #f5f5f5;
    border-color: #f5f5f5;

}
.media-body.files_content{
    position: relative !important;
    height: 112px !important;
    width: 250px !important;
}
.media-body.files_content img.file_icon{height:110px !important; }
.group-conversation-wrapper .media-list > li:nth-child(even) .media-body .media-content{
    background-color: #26A69A;
    border-color: #26A69A;
    position: relative;
    padding: 10px 12px;
    border-radius: 3px;
    color: #fff;
}
.fileshare{background: #f5f5f5;
           min-height: 100px;
           color: #000;}
/*.topi-chart-thumbnail .thumb-inner{
    height: 330px;
    overflow: hidden;
}*/
.challenge-accepted-user-list{
    max-height: 320px;
    overflow: auto;
}
.challenge-details-thumbnail{
    min-height: 560px;
}
.banners-thumbnail-wrapper .thumb:not(.thumb-rounded) img{
    border-radius: 3px;
    max-width: inherit;
    margin: 0 auto;
}
.manage-thumbnail-wrapper .thumb-inner:hover > .caption-overflow {
    background-color: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}
.manage-thumbnail-wrapper .thumb-inner{
    position: relative;
}
.manage-thumbnail-wrapper .caption-overflow span{
    position: absolute;
    top: 0;
    margin-top: 7px;
    width: 100%;
    text-align: right;
    padding-right: 15px;
    padding-top: 5px;
}
.panel-body.chat_area2 {
    height: 560px;
}
.topichat-group-conversation .panel-body.chat_area2 {
    height: 750px;
}
.topichat-group-conversation .panel-body.chat_area2 .chat-list {
    max-height: 715px;
    overflow: auto;
}
.panel-body.chat_area2 .chat-list .media-content {
    width: 100%;
    background-color: #f5f5f5;
    border-color: #ccc;
    position: relative;
    padding: 10px 12px;
    border-radius: 3px;
}
input#No_of_person{margin-top: 10px;}

.content.flashmsg {
    padding-bottom: 0;
}
.challenge_post .c_post_thumbnail .media-list .media .media-body .media-list .media-body{
    width: 10000px;
}
.word-break{
    word-break: break-all;

    .event_notes{
        max-height: 100px;
        overflow: auto;
    }

    .event_contact_wrapper{
        max-height:250px;
        overflow:auto;
    }
    .event_contact_wrapper .contact_ul{
        width:95%;
    }
    



